*.pyc
*.pyo
staticfiles/
db.sqlite3
external_files/
WSDProject/__pycache__/
venv_wsd2017/
.DS_Store
shop/__pycache__/
rest_framework_social_oauth2/__pycache__/

shop/migrations/__pycache__/

authentication/__pycache__/

authentication/migrations/__pycache__/


*.css.map
*.sass-cache
