{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#263238">

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <link rel="manifest" href="{% static 'manifest.webmanifest' %}">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Panda Shop</title>
</head>
<body>

    {% include 'navbar.html' %}

    <main class="v-offset container">
        {% block content %}{% endblock %}
    </main>
    <script type="text/javascript">

        $(document).ready(function () {
            {% if message %}
            Materialize.toast('{{ message }}', 4000, 'rounded');
            {% endif %}
        });
    </script>
</body>
